*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}

header{
    position: fixed;
    background: rgb(102, 100, 107);
    top: 0%;
    left: 0px;
    padding: 20px 7px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    list-style: none
}
.logo span{
    color: #fb911f;
}

.navbar{
    display: flex;
    position: relative;
    
}
.navbar li{
    list-style: none;
}
.navbar a{
    color:#fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    
}
.btn-reserve{
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-reserve :hover{
    background: #d87710;
    transition: ease-out;
}
header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}


.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(./16.png);
    background-size: cover;
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h2{
    color: rgb(27, 20, 131);//
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: rgb(27, 23, 23);
    font-size: 1.2em;
}

.btn1{
    font-size: 1em;
    color: #ffff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn2{
    font-size: 1em;
    color: #ffff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn1:hover{
    letter-spacing: 4px;
}
section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}

.row .col50 h2{
    margin-bottom: 20px;
}

.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

/*footer{
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{

    width: 25%;
    margin: 0 30%;
}

/* contact
.footer-services h3,
.footer-contacts h3,
.footer-hauraires h3,
.footer-navigation h3   {

    font-size: 25px;
    padding-bottom: 20px;
}
.footer-services p{
    padding: 5px 0;
}

.liste-contacts,
.liste-hauraires,
.liste-navigation {
    list-style-type: none;
}

.liste-contacts li{
    padding: 2px 0;
}

.liste-contacts a{
    text-decoration: none;
    color: #333;
}

.liste-contacts a :hover{
    color: rgb(3,3,3);
}
*/

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

#footer {
    border-top: 5px solid #CDB380;
    background: #033649 none repeat scroll 0% 0%;
    padding-top: 30px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;
}

#footer .widgettitle {
    margin: 0px;
    padding: 15px 0px 15px;
    border-bottom: medium none;
    padding-left: 20px;
    padding-right: 20px;
}
#footer h4 {
    color: #FFF;
    
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 15px;
}

#footer li a {
    color: #DDD;
}

#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 10px 0px;
}

